%form{:method=>'post'}
	%p
		%label{:for=>'newpass'} New Password
		%input{:type=>'password', :name=>'newpass'}
	%p
		%label{:for=>'newpass_confirm'} Confirm Password
		%input{:type=>'password', :name=>'newpass_confirm'}
	%p
		%input{:type=>'submit', :value=>'Change Password'}
