%script{:src=>"authenticate.js"}

%h1 Concerto Player Authentication

#no-js
  It looks like Javascript is disabled. The Concerto Display will not work.

- unless @display_temp_token.nil?
  #instructions
    Please enter the following token when setting up the screen in the 
    Concerto Panel:
    = @display_temp_token

#status
  Waiting for first update...
