<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> - Concerto Player Network Configuration</title>
  <meta name="application-name" content="Concerto Player Network Configuration"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/concerto-styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
</head>
<body>
  <%#= render :partial => "elements/topmenu_contents" %>
  <%#= render :partial => "elements/render_flash" %>

  <div id="main" class="container-fluid">

    <section class="viewblock">
      <header class="viewblock-header light-version">
        <div class="default-padding" style="padding: 40px 12px; text-align: center;">
          <h1 style="font-size: 5em; letter-spacing: -0.025em;">Welcome to Concerto Player.</h1>
          <h3>Your Concerto Player has not yet been configured. Follow these instructions to get up and running fast.</h3>
        </div>
      </header>

      <div class="viewblock-cont">
        <div class="default-padding">

          <div class="row-fluid">
            <div class="span3">
              &nbsp;
            </div>
            <div class="span6">

              <br />
              <%= yield %>
              <br />

            </div>
            <div class="span3">
              &nbsp;
            </div>
          </div>

        </div>
      </div>
    </section>
    <br />
    <div class="center">
      <img src="/images/elements/logomark.png" alt="Concerto Player" width="70" />
    </div>

  </div>

</body>
</html>