<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> - Concerto Player Network Configuration</title>
  <meta name="application-name" content="Concerto Player Network Configuration"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/concerto-styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
</head>
<body>
  <%#= render :partial => "elements/topmenu_contents" %>
  <%#= render :partial => "elements/render_flash" %>

  <div id="main" class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>