<div class="clearfix">
  <ul class="nav nav-tabs">
    <li><a href="/setup">Basic Setup</a></li>
    <li><a href="/netconfig">Network Settings</a></li>
    <li class="active"><a href="/password">Configuration Password</a></li>
  </ul>
</div>

<div class="default-padding">
  <form method="post">
    <p>
      <label for="newpass">New Password</label>
      <input class="input-large" name="newpass" type="password"></input>
    </p>
    <p>
      <label for="newpass_confirm">Confirm Password</label>
      <input class="input-large" name="newpass_confirm" type="password"></input>
    </p>
    <p>
      <input type="submit" class="btn btn-primary" value="Change Password"></input>
    </p>
  </form>
</div>