<form method="post">
  <p>
    <label for="newpass">New Password</label>
    <input name="newpass" type="password"></input>
  </p>
  <p>
    <label for="newpass_confirm">Confirm Password</label>
    <input name="newpass_confirm" type="password"></input>
  </p>
  <p>
    <input type="submit" value="Change Password"></input>
  </p>
</form>
