%p System Uptime: #{Uptime.uptime}

%p System Processes:
%ul
  - for p in @proctable
    %li
      %b= p.comm
      (PID #{p.pid.to_s})

%p Screen on/off rules:
%pre= JSON.pretty_generate(@on_off_rules)
