<script src="/javascripts/problem.js"></script>
<div class="error">
  <p>
    <img src="/trollface.png"/>
  </p>
  <h1>Problem?</h1>
  <p>
    Due to technical difficulties, this Concerto screen is currently not 
    operational. Please check again soon.
  </p>
  <p>
    The Concerto installation at <%= concerto_url %> could not be reached.
  </p>
  <p>
    If the URL needs to be changed, go back to
    <a href="/setup">
      Player Configuration
    </a>
  </p>
</div>
