<%= erb(:navbar, :layout => false) %>

<h3>Please change the SSH password for this machine here. Once the password is set, further changes can be made via the command line.</h3>

<div class="default-padding">
  <form method="post">
    <p>
      <label for="system_password">System SSH Password</label>
      <input class="input-large" name="system_password" type="password"></input>
    </p>
    <p>
      <label for="system_password_confirm">Confirm Password</label>
      <input class="input-large" name="system_password_confirm" type="password"></input>
    </p>
    <p>
      <input type="submit" class="btn btn-primary" value="Change Passwords"></input>
    </p>
  </form>
</div>
