<%# layout.erb - Concerto Bandshell Web Interface Template %>
<%# TODO: Provide good default styling, HTML 5, etc. %>
<html>
   <head>
      <title>Concerto Player - Bandshell Web Interface</title>
   </head>
   <body>
      <%= yield %>
   </body>
</html>
