<section id="add">  
  <form action="/configure" method="post">  
    Server Address: <input type="text" name="server_address" />
    <input type="submit" value="Submit">  
  </form>  
</section>  
      
